@model Article

<div class="card">
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="Id"/>

            <input class="form-control mb-3" type="text"
                   placeholder="Başlık" asp-for="Title">
            <span class="text-danger" asp-validation-for="Title"></span>

            <input class="form-control mb-3" type="text"
                   placeholder="Yazar" asp-for="Author">
            <span class="text-danger" asp-validation-for="Author"></span>

            <input class="form-control mb-3" type="text"
                   placeholder="Konu" asp-for="Subject">
            <span class="text-danger" asp-validation-for="Subject"></span>

            <textarea class="form-control mb-3 ckeditor" type="text"
                      placeholder="Açıklama" asp-for="Description" rows="4">
                   </textarea>
            <span class="text-danger" asp-validation-for="Description"></span>

            <input type="submit" value="Kaydet" class="btn btn-primary" />

        </form>
    </div>
</div>