@model Skill

<div class="card radius-15">
	<div class="card-body">
		<h5 class="card-title">@Model.Title</h5>
		<h6 class="card-subtitle mb-2">@Model.Score</h6>
		<p class="text-justify">@Model.Description</p>
	</div>
</div>

<h1>Silmek istediğinize emin misiniz?</h1>

<form action="/Management/Skill/Delete/@Model.Id" method="post">
	@* <input type="hidden" asp-for="Id" value="@Model.Id" /> *@
	<input type="submit" value="Sil" class="btn btn-danger" />
</form>